<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<%= link_to "Signout", destroy_user_session_path, method: :delete %>


<% if !@ordered_search.empty? %>
  <% @ordered_search.each do |location| %>
    <li> <%= link_to location.name, location_path(location) %> </li>
  <% end %>
<% end %>
