<br />
<br />
<div class="show-header">
  <h1><%= @location.name %></h1>
  <br />
  <br />

  <img src="http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=<%=@location.latitude%>%2C<%=@location.longitude%>" class="thumbnail">
</div>
<br />
<br />
<br />
<div class ="row">
  <div class="small-up-1 medium-up-3 large-up-3">
    <% @photos.each do |photo| %>
      <div class="column">
        <div class="show-image-overlay">
          <div class="image-wrapper overlay-fade-in">
            <img src="<%=photo.low_res_link%>" class="bigger-photo">
              <div class="image-overlay-content">
                <h2><a href="https://www.instagram.com/<%=photo.username%>" target="_blank" style="target-new: tab;">
                  <span class="avatar">
                    <img src="<%=photo.profile_picture%>" height="40" width="40">
                  </span>
                     <%= photo.username %>
                 </a></h2>
                <h1 class="price">
                  <%=photo.caption%>
                </h1>
              </div>
          </div>
        </div>
        <div class="add-button">
          <%= form_for @photo do |f|%>
          <%= f.hidden_field :photo_id, multiple: true, value: photo.id %>
          <%= f.hidden_field :location_id, multiple: true, value: photo.location_id %>
          <%= f.submit "Add", class: "button" %>
          <% end %>
      </div>
      </div>
    <% end %>
  </div>
</div>




<br />
<br />
<br />
<br />
<br />
