<br />
<br />
<div class="show-header">
  <h1><%= @location.name %></h1>
  <img src="http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=<%=@location.latitude%>%2C<%=@location.longitude%>" class="thumbnail">
</div>
<br />
<br />
<br />
<div class="row small-up-1 medium-up-3 large-up-3">
  <% @photos.each do |photo| %>
    <div class="column">
      <img src="<%=photo.low_res_link%>" class="thumbnail">
      <%= form_for @photo do |f|%>
      <%= f.hidden_field :photo_id, multiple: true, value: photo.id %>
      <%= f.hidden_field :location_id, multiple: true, value: photo.location_id %>
      <%= f.submit "Add", class: "button" %>
      <% end %>
    </div>
  <% end %>
</div>

<br />
<br />
<br />
<br />
<br />
