<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="<%=root_path%>">DisWeek</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <% if !current_user.nil? %>
        <li><a href="<%=user_photos_path%>">Album</a></li>
        <li class="has-submenu">
          <a href="#">
            <span class="avatar">
              <img src="<%=current_user.pic%>" height="40" width="40">
            </span>
               <%=current_user.nickname%>
           </a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="https://www.instagram.com/<%=current_user.nickname%>" target="_blank" style="target-new: tab;">IG Profile</a></li>
            <li><a href="<%=destroy_user_session_path%>" data-method="delete">Sign Out</a></li>
          </ul>
        </li>
      <% else %>
        <li><a href="<%= omniauth_authorize_path(:user, :instagram) %>" id="log_in"><span class="avatar">
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/df61fd9361187.560cd336ce5b2.png" height="45" width="45">
        </span></a></li>
      <% end %>
    </ul>
  </div>
</div>
